## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Seymchan,RU,62.8833,152.4333,47.50,49,23,6.17,few clouds
1,1,Ribeira Grande,PT,38.5167,-28.7000,59.07,75,99,25.14,overcast clouds
2,2,Esperance,AU,-33.8667,121.9000,62.73,75,65,9.40,broken clouds
3,3,Mataura,NZ,-46.1927,168.8643,52.48,60,6,14.05,light rain
4,4,Georgetown,MY,5.4112,100.3354,87.73,82,20,2.30,few clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?65
What is the maximum temperature you would like for your trip?90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Georgetown,MY,5.4112,100.3354,87.73,82,20,2.30,few clouds
5,5,Kapaa,US,22.0752,-159.3190,75.18,94,100,21.85,moderate rain
8,8,Rikitea,PF,-23.1203,-134.9692,76.86,77,100,14.03,light rain
10,10,Carnarvon,AU,-24.8667,113.6333,72.28,57,40,9.82,scattered clouds
13,13,Ponta Do Sol,PT,32.6667,-17.1000,69.01,82,91,3.27,overcast clouds
15,15,Meridian,US,43.6121,-116.3915,74.98,29,75,8.05,broken clouds
20,20,Hilo,US,19.7297,-155.0900,89.28,76,20,12.66,few clouds
25,25,Arraial Do Cabo,BR,-22.9661,-42.0278,66.88,56,2,20.22,clear sky
28,28,Niquero,CU,20.0431,-77.5828,79.45,81,62,7.85,broken clouds
29,29,Namibe,AO,-15.1961,12.1522,68.68,76,0,9.51,clear sky

In [6]:
# 4a. Determine if there are any empty rows. there are at least three different methods to do this, just pick one
preferred_cities_df.count()

City_ID                12
City                   12
Country                12
Lat                    12
Lng                    12
Max Temp               12
Humidity               12
Cloudiness             12
Wind Speed             12
Current Description    12
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Georgetown,MY,5.4112,100.3354,87.73,82,20,2.30,few clouds
5,5,Kapaa,US,22.0752,-159.3190,75.18,94,100,21.85,moderate rain
8,8,Rikitea,PF,-23.1203,-134.9692,76.86,77,100,14.03,light rain
10,10,Carnarvon,AU,-24.8667,113.6333,72.28,57,40,9.82,scattered clouds
13,13,Ponta Do Sol,PT,32.6667,-17.1000,69.01,82,91,3.27,overcast clouds
15,15,Meridian,US,43.6121,-116.3915,74.98,29,75,8.05,broken clouds
20,20,Hilo,US,19.7297,-155.0900,89.28,76,20,12.66,few clouds
25,25,Arraial Do Cabo,BR,-22.9661,-42.0278,66.88,56,2,20.22,clear sky
28,28,Niquero,CU,20.0431,-77.5828,79.45,81,62,7.85,broken clouds
29,29,Namibe,AO,-15.1961,12.1522,68.68,76,0,9.51,clear sky
33,33,Karratha,AU,-20.7377,116.8463,77.85,66,1,9.53,clear sky
34,34,Jinji,CN,23.2281,110.8261,81.61,68,40,1.30,scattered clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Georgetown,MY,87.73,few clouds,5.4112,100.3354,
5,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,
8,Rikitea,PF,76.86,light rain,-23.1203,-134.9692,
10,Carnarvon,AU,72.28,scattered clouds,-24.8667,113.6333,
13,Ponta Do Sol,PT,69.01,overcast clouds,32.6667,-17.1000,
15,Meridian,US,74.98,broken clouds,43.6121,-116.3915,
20,Hilo,US,89.28,few clouds,19.7297,-155.0900,
25,Arraial Do Cabo,BR,66.88,clear sky,-22.9661,-42.0278,
28,Niquero,CU,79.45,broken clouds,20.0431,-77.5828,
29,Namibe,AO,68.68,clear sky,-15.1961,12.1522,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel NOT found --> Skipping!")

        
hotel_df.head(10)

Hotel NOT found --> Skipping!

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang
5,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Rikitea,PF,76.86,light rain,-23.1203,-134.9692,People ThankYou
10,Carnarvon,AU,72.28,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
13,Ponta Do Sol,PT,69.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
15,Meridian,US,74.98,broken clouds,43.6121,-116.3915,Courtyard by Marriott Boise West/Meridian
20,Hilo,US,89.28,few clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
25,Arraial Do Cabo,BR,66.88,clear sky,-22.9661,-42.0278,Pousada Porto Praia
28,Niquero,CU,79.45,broken clouds,20.0431,-77.5828,Islazul Niquero
29,Namibe,AO,68.68,clear sky,-15.1961,12.1522,Hotel Chik Chik Namibe

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].dropna()
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang
5,Kapaa,US,75.18,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Rikitea,PF,76.86,light rain,-23.1203,-134.9692,People ThankYou
10,Carnarvon,AU,72.28,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
13,Ponta Do Sol,PT,69.01,overcast clouds,32.6667,-17.1000,Hotel do Campo

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure; making sure to save the screenshot
fig

Figure(layout=FigureLayout(height='420px'))